<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daipi.practice">

    <application>
        <activity
            android:name=".PracticeActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DZ.NoActionBar">

        </activity>
        <activity android:name=".TestFragmentActivity"
            android:exported="true"
            android:theme="@style/Theme.DZ.NoActionBar"/>
    </application>

</manifest>